GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
GOOGLE_APPS_SCRIPT_SECRET=REPLACE_WITH_YOUR_SECRET
DASHBOARD_PASSWORD=CHOOSE_A_PRIVATE_PASSWORD
DASHBOARD_SESSION_SECRET=CHOOSE_A_DIFFERENT_LONG_RANDOM_VALUE
